.justify-c__center {
  justify-content: center;
}
.justify-c__space-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.bg__dark-blue {
  background: $COLOR_DARK_BLUE;
}

.bg__pink {
  background: $COLOR_PINK;
}
