.justify-c__center {
  justify-content: center;
}
.justify-c__space-between {
  justify-content: space-between;
}

.flex-d__column {
  flex-direction: column;
}

.align-i__center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.bg__dark-blue {
  background: $COLOR_DARK_BLUE;
}

.bg__pink {
  background: $COLOR_PINK;
}
