// fonts
$MAIN_FONT: "DM Sans", sans-serif;
$SECONDARY_FONT: "Redressed", cursive;

// colors
$COLOR_PINK: #eaa0a2;
$COLOR_DARK_BLUE: #3a4664;
$COLOR_WHITE_TEXT: #ffffff;
$COLOR_GREY_TEXT: rgba(58, 70, 100, 0.5);
$COLOR_WHITE_TEXT_30: rgba(255, 255, 255, 0.3);
