#header {
  // position: fixed;
  .container {
    background: $COLOR_DARK_BLUE;
  }

  .header__menu {
    height: 48px;
    width: 48px;
  }
  .header__logo {
    color: $COLOR_WHITE_TEXT;
    font-family: $SECONDARY_FONT;
    font-weight: 400;
    font-size: 50px;
    margin: 0 auto;
  }
  .header__row {
    padding: 46px 16px 0 16px;
  }
}
