#hero {
  // height: 100vh;
  // min-height: 900px;
  .section__title {
    margin-top: 59px;
    margin-bottom: 15px;
  }
  .hero__title {
    font-family: $SECONDARY_FONT;
    font-size: 66px;
    font-weight: 400;
    color: $COLOR_WHITE_TEXT;
    max-width: 329px;
    margin-bottom: 38px;
  }
  .hero__btn {
    display: inline-block;
    margin-bottom: 176px;
  }
  .hero__bg-img {
    height: 431px;
    width: 300px;
    margin-top: 57px;
    margin-bottom: 56px;
  }
}

#features {
  .section__title {
    margin-top: 91px;
    margin-bottom: 12px;
  }
  .section__sub-title {
    margin-bottom: 65px;
  }
  p {
    margin-bottom: 25px;
  }
}

#about-our-agency {
  .about-our-agency__img {
    width: 330px;
    height: 330px;
    margin-top: 151px;
    margin-bottom: 50px;
  }
  .section__title {
    margin-bottom: 12px;
  }
  .section__sub-title {
    margin-bottom: 49px;
  }
  p {
    margin-bottom: 25px;
  }
  .about-our-agency__hl {
    border: 2px solid $COLOR_DARK_BLUE;
    margin-top: 121px;
  }
  .about-our-agency__mr {
    margin-top: 85px;
    margin-bottom: 67px;
  }
  .mr-bottom_78 {
    margin-bottom: 78px;
  }
  .about-our-agency__experience-rate {
    font-family: $SECONDARY_FONT;
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
    color: $COLOR_DARK_BLUE;
    margin-bottom: 2px;
  }
  .about-our-agency__experience {
    font-weight: 400;
    font-size: 20px;
    color: $COLOR_DARK_BLUE;
  }
}

.about-our-agency__hl {
  border: 2px solid $COLOR_DARK_BLUE;
}

#video-about-us {
  .video-about-us__pic {
    height: 125px;
    width: 329px;
  }
}

#wedding-service {
  .section__title {
    margin-top: 93px;
    margin-bottom: 12px;
  }
  .section__sub-title {
    margin-bottom: 36px;
  }
  p {
    margin-bottom: 45px;
  }
  .wedding-service__pic {
    margin-top: 90px;
    margin-bottom: 188px;
  }
  .wedding-service__card {
    border-radius: 16px;
    background: $COLOR_WHITE_TEXT;
    text-align: center;
    height: 416px;
    width: 329px;
    padding-right: 28px;
    padding-bottom: 32px;
    padding-left: 29px;
  }
  .wedding-service__champagne-glass {
    height: 96px;
    width: 81px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 40px;
    display: inline-block;
  }
  .wedding-service__wedding-suit {
    width: 96px;
    height: 87px;
    margin: 0 auto;
    margin-top: 68px;
    margin-bottom: 45px;
    display: inline-block;
  }
  .wedding-service__wedding-cake {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 40px;
    display: inline-block;
  }
  .wedding-service__wedding-rings {
    width: 96px;
    height: 86px;
    margin: 0 auto;
    margin-top: 69px;
    margin-bottom: 45px;
    display: inline-block;
  }
}

#portfolio {
  .box {
    margin-bottom: 128px;
  }
  .section__title {
    margin-bottom: 12px;
  }
  .section__sub-title {
    margin-bottom: 59px;
  }
  .portfolio__video-clip {
    margin: 0 auto;
    margin-bottom: 33px;
  }
  p {
    margin-bottom: 16px;
  }
  .portfolio__arrow-left {
    border-radius: 50%;
    border: 1px solid $COLOR_DARK_BLUE;
    padding: 16px 12px 17px 12px;
    display: inline-block;
  }
  .portfolio__arrow-right {
    border-radius: 50%;
    border: 1px solid $COLOR_DARK_BLUE;
    padding: 16px 12px 17px 12px;
    display: inline-block;
  }
}
#how-we-work {
  .row {
    margin-bottom: 73px;
  }
  .section__title {
    margin-top: 155px;
  }
  .section__sub-title {
    text-align: center;
  }
  h3 {
    text-align: left;
  }
  p {
    width: 270px;
    height: 68px;
    margin: 0 auto;
  }
  .how-we-work__num {
    margin-bottom: 24px;
  }
}

#video-about-us {
  text-align: center;
  .row {
    margin-top: 83px;
    margin-bottom: 149px;
  }
  .section__title {
    margin-bottom: 12px;
  }
  .section__sub-title {
    margin-bottom: 36px;
  }
}

#contact-us {
  .row {
    margin-bottom: 266px;
  }
  .box {
    background: $COLOR_DARK_BLUE;
  }
  .video-about-us__contact {
    font-family: $SECONDARY_FONT;
    font-size: 50px;
    line-height: 48px;
    color: $COLOR_WHITE_TEXT;
  }
  p {
    font-family: $MAIN_FONT;
    font-size: 16px;
    font-weight: 400;
    color: $COLOR_GREY_TEXT;
  }
}

#our-team {
  .section__title {
    margin-bottom: 12px;
  }
  .section__sub-title {
    margin-bottom: 20px;
  }
}

#our-founder {
  .row {
    margin-top: 160px;
  }
  .section__title {
    margin-bottom: 12px;
  }
  .section__sub-title {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 17px;
  }
}
